<div class="grid-view">
  <div class="view-header">
    <span>THE HEADER</span>
    <span style="cursor: pointer" (click)="increaseZoom()">( + )</span>
    <span style="cursor: pointer" (click)="decreaseZoom()">( - )</span>
  </div>
  <div class="view-row" #resizeAndScroll (scroll)="onScroll()">
    <app-custom-grid class="view-content" [zoomX]="zoomX" [viewPort]="viewPort"></app-custom-grid>
    <app-custom-grid class="view-content" [zoomX]="zoomX" [viewPort]="viewPort"></app-custom-grid>
  </div>
  <div class="view-footer">
    <span>THE FOOTER</span>
  </div>
</div>
