<div class="grid-view">
  <div class="view-header">
    <span>THE HEADER</span>
    <span *ngFor="let phase of gridData.phases; let phaseId = index">phase {{phaseId}}
      <span style="cursor: pointer" (click)="increaseZoom(phaseId)">( + )</span>
      <span style="cursor: pointer" (click)="decreaseZoom(phaseId)">( - )</span>
    </span>
  </div>
  <div class="view-row" #resizeAndScroll (scroll)="onScroll()">
    <app-custom-grid class="view-content" [phases]="gridData.phases" [viewPort]="viewPort" [numRows]="2"></app-custom-grid>
    <app-custom-grid class="view-content" [phases]="gridData.phases" [viewPort]="viewPort" [numRows]="4"></app-custom-grid>
  </div>
  <div class="view-footer">
    <span>THE FOOTER</span>
  </div>
</div>
