<div class="grid-view">
  <div class="view-header">
    <span>THE HEADER</span>
    <span *ngFor="let phase of phases; let phaseIndex = index">phase {{phaseIndex}}
      <span style="cursor: pointer" (click)="increaseZoom(phaseIndex)">( + )</span>
      <span style="cursor: pointer" (click)="decreaseZoom(phaseIndex)">( - )</span>
    </span>
  </div>
  <div class="view-row" #resizeAndScroll (scroll)="onScroll()">
<!--    <div *ngFor="let phase of gridData.phases">-->
<!--      <app-custom-grid class="view-content" [phases]="gridData.phases" [viewPort]="viewPort" [zoomX]="phase"-->
<!--                     *ngFor="let group of gridData.groups"-->
<!--                       [id]="group.name"-->
<!--                     [group]="group"></app-custom-grid>-->
<!--    </div>-->
    <app-sticky-grid
      [groups]="groups"
      [phases]="phases"
      [rowHeight]="25"></app-sticky-grid>
  </div>
  <div class="view-footer">
    <span>THE FOOTER</span>
  </div>
</div>
