<div class="grid-row sticky"
  [style.top]="(group.level-1) * rowHeight + 'px'"
  [style.background]="group.color"
  [style.z-index]="(10 - group.level)"
     [style.height]="rowHeight + 'px'"></div>
<div class="grid-row"
  *ngFor="let row of group.rows"
  [style.height]="rowHeight + 'px'">
  <div class="grid-row-scale">
    <div class="grid-cell"
         *ngFor="let cell of scale; let cellIndex = index"
        [style.left]="(cellIndex * 100) / scale.length + '%'"
    [style.width]="100 / scale.length + '%'">
    </div>
  </div>
</div>

<app-row-group class="row-group"
  *ngFor="let subGroup of group.subGroups"
  [group]="subGroup"
  [rowHeight]="rowHeight"
  [scale]="scale"></app-row-group>
