<div class="grid-row sticky"
  [style.top]="(group.level-1) * rowHeight + 'px'"
  [style.background]="group.color"
  [style.z-index]="(10 - group.level)"
     [style.height]="rowHeight + 'px'">
</div>
<div class="grid-row"
  *ngFor="let row of group.rows"
  [style.height]="rowHeight + 'px'">
  <div class="grid-row-scale">
    <div class="grid-cell"
         *ngFor="let cell of phase.scale; let cellIndex = index"
        [style.left]="(cellIndex * 100) / phase.scale.length + '%'"
        [style.width]="100 / phase.scale.length + '%'">
    </div>
    <div *ngFor="let data of filter(phase, row.data)"
      style="position: absolute; height: 19px; background: blue; margin-top: 3px"
    [style.left]="(data.start-phase.start) * 100 / (phase.stop - phase.start) + '%'"
    [style.width]="(data.stop - data.start)  * 100/ (phase.stop - phase.start) + '%' "></div>
  </div>
</div>

<app-row-group class="row-group"
  *ngFor="let subGroup of group.subGroups"
  [group]="subGroup"
  [rowHeight]="rowHeight"
  [phase]="phase"></app-row-group>
