<div class="menu">
  <span (click)="addApplication()">Add Application</span>
  <span (click)="addEventTrack(0)">Add Track</span>
  <span (click)="addEvent(0)">Add Application Event</span>
</div>

<bryntum-scheduler-pro
  [startDate] = "startDate"
  [endDate]="endDate"
  [columns] = "[{field: 'name', text: 'Name', type: 'tree'}]"
  [project]="project"
  [treeFeature]="true"
  [cellMenuFeature]="cellMenuFeature"
  [eventRenderer]="eventRenderer"

  [viewPreset] = "'secondAndMinute'"
  (onPresetChange)="preventScrollOutside($event)"
  (onEventDrag)="onEventDrag($event, 'drag')"
  (onEventDragStart)="onEventDrag($event, 'drag start')"
  (onEventDrop)="onEventDrag($event,'drag stop')"
  (onBeforeEventAdd)="onEventDrag($event, 'before event add')"
  (onEventPartialResize)="onEventDrag($event, 'partial resize')"
  (onBeforeEventSave)="onEventDrag($event, 'before save')"
  (onAfterEventSave)="onEventDrag($event, 'event saved')"
  (onEventResizeEnd)="onEventDrag($event,'resize end')"
></bryntum-scheduler-pro>
