.custom-grid-container {
  background-color: darkgray;
/*  width: 100%; */
  height: 100%;
  display: flex;
  white-space: nowrap;
}

.custom-grid {
  background: yellow;
  transition: width 0.2s ease-in-out;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.grid-row {
  overflow: hidden;
  height: 30px;
  position: sticky;
  width: 100%;
  top: 0;
}

.grid-cell {
  /*border: solid 1px gray;*/
  /* border lets the div grow and you need calculations for the relative positions. With outline you don't. */
  outline: 1px solid gray;
  outline-offset: -1px;
  height: 30px;
  background: bisque;
  position: relative;
}

