.custom-grid-container {
  background-color: darkgray;
/*  width: 100%; */
  height: 100%;
  display: inline-block;
}

.custom-grid {
  background: yellow;
  animation: ease;
}

.grid-cell {
  /*border: solid 1px gray;*/
  /* border lets the div grow and you need calculations for the relative positions. With outline you don't. */
  outline: 1px solid gray;
  outline-offset: -1px;
  height: 30px;
  background: bisque;
  position: relative;
}

.grid-row {
  overflow: hidden;
  height: 30px;
}
