<div class="custom-grid-container">
  <div *ngFor="let phase of phases; let phaseId = index"
    class="custom-grid"
    [style.width]="viewPortWidth * phase + 'px'"
    [style.height]="2 * gridHeight + 'px'">
    <div class="grid-row grid-row-group"
         [style.height]="rowHeight + 'px'"
          [style.z-index]="10-(group.level)"
         [style.top]="(group.level-1) * rowHeight + 'px'"
         [style.background]="group?.color"
          [id]="group?.name + '-group'">
      <div class="grid-cell" *ngFor="let row of visibleCols; let i = index"
           [style.height]="rowHeight + 'px'"
           [style.top]="i * -rowHeight + 'px'"
           [style.width]="100 / numCols + '%'"
           [style.left]="i * 100 / numCols + '%'">{{i}}<br>{{group?.name}} [{{phaseId}}]</div>
    </div>

    <div *ngFor="let track of group?.tracks" class="grid-row"
         [style.height]="rowHeight + 'px'"
         [id]="track.name">
      <div class="grid-cell" *ngFor="let row of visibleCols; let i = index"
           [style.height]="rowHeight + 'px'"
           [style.top]="i * -rowHeight + 'px'"
           [style.width]="100 / numCols + '%'"
           [style.left]="i * 100 / numCols + '%'">{{i}}<br>{{track.name}}</div>
    </div>

    <app-custom-grid [phases]="phases" [viewPort]="viewPort"
                     [id]="group?.name"
                     *ngFor="let group of group?.groups"
                     [group]="group"></app-custom-grid>
  </div>
</div>
