<div class="grid-container">

  <!-- Column Headers -->
  <div class="grid-phase sticky row-headers"
    [style.height]="numRows * rowHeight + 'px'">
    <app-header-row-group class="header-row-group"
                   *ngFor="let group of groups"
                   [group]="group"
                   [rowHeight]="rowHeight">
    </app-header-row-group>
  </div>
  <!-- Grid -->
  <div class="grid-phase"
       *ngFor="let phase of phases; let phaseId = index"
       [style.height]="numRows * rowHeight + 'px'">
    <app-row-group class="row-group"
      *ngFor="let group of groups"
      [group]="group"
      [rowHeight]="rowHeight"
      [scale]="selectedScale">
    </app-row-group>
  </div>

</div>
